.Projects-container {
    text-align: center;
    padding: 1em;
}


.Projects-container img {
    width: 100%;
    height: 100%;
}

.Projects-list {
    display: flex;
}

.Projects-item {
    flex:1;
    margin: 0.5em;
    border: solid rgba(0,0,0,0.5);
    position: relative;
}

.Overlay {
    position: absolute;
    width: 100%;
    height: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    transition: height, 2s;
    bottom: 0px
}

.Overlay h2 {
    font-size: 200%;
    font-weight: 450;
}

.Overlay p {
    padding: 1em
}

.Projects-item:hover .Overlay {
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .Projects-list {
        flex-direction: column;
    }
}