.skills-container {
    text-align: center;
    padding: 3rem 1rem 2rem 1rem;
    background-color: rgba(223, 177, 51, 0.6);
    color: white;
}

.skills-container h1 {
    font-size: 200%;
    font-weight: 500;
    padding: 0.5rem;
}

.skills-languages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding: 1rem
}
