
.Section-about {
    display: block;
    padding-top: 80px
}

.Section-about h1 {
    text-align: center;
    color:rgb(43, 40, 40);
    font-size: 3em;
    font-weight: 350;
    padding-top: 40px
}

.Section-about p {
    text-align: center;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    font-size: 1em;

}

.Section-about-image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
