
.about-container {
    display: block;
    height: 100vh;
    box-sizing: border-box;
}

.about-container h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 350;
}

.about-container p {
    text-align: center;
    padding: 1.5em;
    color: rgba(0, 0, 0, 0.7);
}

.about-container img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    box-sizing: content-box;
    padding: 3em
}
