
.Section-header {
  background-image:linear-gradient(rgba(139, 97, 4, 0.15), rgba(0,0,0,0.9)), url(../../common/images/PortugalPhoto.JPG);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  
}

.Section-header h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 3em;

}

.Section-header h2 {
  color: white;
  text-align:center;
  font-weight: 200;
  font-size: 1.5em;
  padding: 1em
}

.Section-header-Overlay {
  padding-top: 5em
}