* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

.Section-header {
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.7)), url(../../images/PortugalPhoto.JPG);
  /* red,green,blue,opacity */
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  
}

.Section-header h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 3em;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em
}

.Section-header h2 {
  color: white;
  text-align:center;
  font-weight: 200;
  font-size: 1.5em;
  padding: 0.5em
}