* {
    margin: 0;
    padding: 0;
}

.NavigationBar {
    background-color: rgb(25, 25, 25);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    position: fixed;
    width: 100vw;
}

.NavigationBar .NavigationMenu {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    padding-right: 1em
}

.NavigationBar .NavigationMenu h3 {
    color: white;
    font-weight: 350;
    padding: 0.5em;
    font-size: 1em;
}

.NavigationBar .NavigationMenu h3:hover {
    color: rgba(230, 145, 15);
    transition: 0.3s 
}

.NavigationBar .NavigationIcons i {
    color: white;
    padding: 0.5em;
}

.NavigationBar .NavigationIcons i:hover {
    color: rgba(230, 145, 15);
    transition: 0.3s 
}