* {
    margin: 0;
    padding: 0;
}

.NavigationBar {
    background-color: rgba(8, 8, 8, 0.5);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    position: fixed;
    width: 100vw;
}

.NavigationBar .NavigationMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    padding-right: 1em
}

.NavigationBar .NavigationMenu h3 {
    color: white;
    font-weight: 300;
    padding: 0.5em;
    font-size: 1em;
}

.NavigationBar .NavigationIcons i {
    color: white;
    padding: 1em;
}