* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    .Projects-list {
        flex-direction: column;
    }
    .Overlay p {
        height: auto;
    }
}

  @media only screen and (max-width: 319px) {

    .NavigationMenu {
        justify-self: center;
    }
    
    .NavigationIcons {
        justify-self: center;
    }

    .skills-languages {
      grid-template-columns: 1fr 1fr;
    }
  }